@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/HelveticaNeue.ttc");
}

body {
  background: url(./assets/shutterstock_2189773743\ 1.png);
  background-size: cover;
}

button {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 38.7%;
  width: 464px;
  background-color: #1A1A1A;
  height: 60px;
  border-radius: 8px;
  font-size: 20px;
}
.Nice-logo{
  position: absolute;
  bottom: 26%;
  right: 28%;
}
.Redberry-logo{
  position: absolute;
  top: 25px;
  left: 70px;
}
hr{
  margin-top: 90px;
  width: 1780px;
}
a{
  text-decoration: none;
  list-style: none;
}
a:visited{
  color: #FFFFFF;
}